/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
     padding-top: 245px;
     margin-left: 512px; 
 }
 
 @media screen and (max-width: 430px) {
    .slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    padding-top: 117px;
    margin-left: 90px;
 }
 }

 .slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:435px;
 }

 @media screen and (max-width: 430px) {
    .slider img {
        height: 290px;
    }   
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
    margin: 0 28px;
}

@media screen and (max-width: 430px) {
    .slider .slick-slide {
    margin: 0 23px;
    }
 }
 

 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 
 .slick-prev, 
 .slick-next{
     position: absolute;/*絶対配置にする*/
     top: 600px;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     height: 86px;
     width: 86px;
 }

 @media screen and (max-width: 430px) {
    .slick-prev, 
    .slick-next{
        top:  475px;
        height: 43px;
        width: 43px;
    }
 }
  
 
 .slick-prev {
    /*戻る矢印の位置と形状*/
    background-image: url(images/left-button.png);
    background-size: contain;
     left: -265px;
 }

 @media screen and (max-width: 430px) {
   .slick-prev {
     left: -42px;
 } 
 }
  
 
 .slick-next {/*次へ矢印の位置と形状*/
    background-image: url(images/right-button.png);
    background-size: contain;
    left: -180px;
 }

 @media screen and (max-width: 430px) {
    .slick-next {/*次へ矢印の位置と形状*/
    left: -0px;
     } 
 }
  
