/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
     padding-top: 20%;
     margin-left: 35%;
 }
 
 @media screen and (max-width: 430px) {
    .slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    top: 50%;
     margin-left: 25%;
 }
 }

 .slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
 }

 @media screen and (max-width: 430px) {
    .slider img {
        width: 225px;/*スライダー内の画像を横幅100%に*/
        height: 290px;
    }   
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
    margin: 0 28px;
}

@media screen and (max-width: 430px) {
    .slider .slick-slide {
    margin: 23px;
    }
 }
 

 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 
 .slick-prev, 
 .slick-next{
     position: absolute;/*絶対配置にする*/
     top: 85%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     height: 86px;
     width: 86px;
 }

 @media screen and (max-width: 430px) {
    .slick-prev, 
    .slick-next{
        top: 90%;
        height: 43px;
        width: 43px;
    }
 }
  
 
 .slick-prev {
    /*戻る矢印の位置と形状*/
    background-image: url(images/left-button.png);
    background-size: contain;
     left: -22%;
 }

 @media screen and (max-width: 430px) {
   .slick-prev {
     left: -3.5%;
 } 
 }
  
 
 .slick-next {/*次へ矢印の位置と形状*/
    background-image: url(images/right-button.png);
    background-size: contain;
     left: -15%;
 }

 @media screen and (max-width: 430px) {
    .slick-next {/*次へ矢印の位置と形状*/
    left: 0%;
     } 
 }
  
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
     text-align:center;
     margin:20px 0 0 0;
 }

 .slick-dots li {
     display:inline-block;
     margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }
 