@charset "utf-8";

body{font-family: 'Noto Serif JP';}

    /*========= スクロールダウンのためのCSS ===============*/
    
    /*====== 9-1-1 縦線が動いてスクロールを促す =======*/
    
    /*スクロールダウン全体の場所*/
    .scrolldown1{
        /*描画位置※位置は適宜調整してください*/
      position:absolute;
      left:50%;
      bottom:16px;
        /*全体の高さ*/
      height:40px;
    }
    
    /*Scrollテキストの描写*/
    .scrolldown1 span{
        /*描画位置*/
      position: absolute;
      left: -29.5px;
      top: -27px;
      width: 59px;
        /*テキストの形状*/
        font-size: 20px;
        line-height: 40px;
        /* ボックスの高さと同一、または200% */
        color: #FFFFFF;        
    }
    
    /* 線の描写 */
    .scrolldown1::after{
      content: "";
        /*描画位置*/
      position: absolute;
      top: 0;
        /*線の形状*/
      width: 1px;
      height: 93px;
      background: #FFFFFF;
        /*線の動き1.4秒かけて動く。永遠にループ*/
      animation: pathmove 1.4s ease-in-out infinite;
      opacity:0;
    }
    
    /*高さ・位置・透過が変化して線が上から下に動く*/
    @keyframes pathmove{
      0%{
        height:0;
        top:0;
        opacity: 0;
      }
      30%{
        height:30px;
        opacity: 1;
      }
      100%{
        height:0;
        top:50px;
        opacity: 0;
      }
    }
    
    /*========= レイアウトのためのCSS ===============*/
    h1{
      writing-mode: vertical-rl;
      white-space: nowrap;
      letter-spacing: 75px;
      font-size: 80px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color:#FFFFFF;
      text-align: center;
    }

    #header{
      width:100%;
      height: 100vh;
      position: relative;
    } 
    
    #header:before{
      content: '';
      position:fixed;
      top:0;
      left:0;
      z-index:-1;
      width:100%;
      height: 100vh;
      /*背景画像設定*/
      background:url("images/tree1.jpg") no-repeat center;
      background-size:cover;
      height: 1024px;
    }
    
    #container{
      position: relative;
      z-index:1;
      background:#FFFFFF;
      text-align: center;
    }
    
    @media screen and (max-width:768px){
    
        #header,
        #header:before{
      height: 90vh;    
        }  
    }


.about{
    position: relative;
    width:100%;
    height: 512px;
    background-color: #3D3D3D;
    }

.about-text{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
}

.about h2{
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
    }

.about p{
    padding-top: 75px;
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
    width: 884px;
    margin: 0 auto;
    line-height: 40px;
    }

 .service{
    position: relative;
    width:100%;
    height: 1839px;
    background-color: #FFFFFF;}

 .service img{
  width: 600px;
    height: 430px;
}

.service h2{
padding-top: 83px;
font-size: 36px;
clear: both;
color: #3D3D3D;}

.service h3{
padding-top: 12%;
font-size: 30px;
text-align: left;
color: #3D3D3D;
}

.service p{
    font-size: 20px;
    padding-top: 25px;
    text-align: left;
    color: #3D3D3D;
    line-height: 40px;
    padding-bottom: 15%;
}


.sell{padding-top: 83px;
}

.sell .sell-text{
    width: 440px;
    float: right;
    margin-right: 13%;
}

.cut{padding-top: 108px;}

.cut .cut-text{
    width: 440px;
    float: left;
    margin-left: 13%;
}

.maintenance{padding-top: 108px;}

.maintenance-text{
    width: 440px;
    float: right;
    margin-right: 13%;
}
 
 .product{
    position: relative;
    width:100%;
    height: 951px;
    background-color: #f5f5f5;}

.product .price{}

.product h2{
    position: absolute;
    writing-mode: vertical-rl;
    top: 20%; 
    left: 20%;
    color: #3D3D3D;
    font-size: 35px;
    letter-spacing: 6px;
    margin: auto;
    border-right: 2px dotted  #3D3D3D;
    border-left: 2px dotted  #3D3D3D;
}

.product p{
  padding-top: 14px;
  font-size: 25px;
  line-height: 30px;
  color: #3D3D3D;
}

.square1{border: 1px solid  #3D3D3D;
height: 86px;
width: 86px;}

.squares{
  position: absolute;
  display: flex;
  top: 68%;
  left: 12.5%;}

.square2{border: 1px solid  #3D3D3D;
  height: 86px;
  width: 86px;}

 .question{
    position: relative;
    width:  100%;
    height: 858px;
    background: #FFFFFF;}
  
.question-text{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;}

.question h2{
    font-size: 36px;
    margin-bottom: 41px;
    color: #3D3D3D;
}

.question hr{
    border: none;
    border-top: 2px dotted #3D3D3D;
    width: 573px;
    margin: auto;
}

.question table{
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-collapse: separate;
    border-spacing: 18px;
}

.question tr{vertical-align: top;
}

.question p{text-align: left;
    font-size: 17px;
    color: #3D3D3D;
}

.photo{
    position: relative;
    width: 100%; 
    height: 639px;
}
    
.photo img{
    width: 100%; 
    height: 100%;
}

 .close{
    position: relative;
    width:  100%;
    height: 700px;
    background: #3D3D3D;
}

.close .shop{height: 420px;
padding-top: 108px;
}


.close h2{
    font-size: 54px;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    text-align: center;
    margin: auto;
    border-right: 2px dotted #FFFFFF;
    border-left: 2px dotted #FFFFFF;
    letter-spacing: 50px;
}

.close h3{
    font-size: 36px;
    color: #FFFFFF;
    }
  
.close .contents{
    vertical-align: top;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.close p{
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 40px;
    line-height: 40px;}
    

a{
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
}

.close a{border-bottom: 1px solid #FFFFFF;
    margin-top: 7px;
    display: inline-block;
}

footer{
  position: relative;
  height: 40px;
  background: #3D3D3D;
}

footer p{
  color: #FFFFFF;
  font-size: 15px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
}